body {
    margin: 0;
}

li {
    list-style-type:none;
}

.nav-link {
    color: white;
}

.body_container {
    padding: 20px;
}


.listings_thumbnail_div {
    height: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* overflow: hidden; */
    background-color: white;
    border-radius: 0.25rem;
}

.listings_thumbnail {
    object-fit: contain;
    width: 250px;
    height: 250px;
}

.listings_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.listings_price{
    font-size: x-large;
}
.listings_title {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.individual_listing_image {
    height: 100%;
    width: 100%;
    object-fit:contain;
    margin:auto;
}
.individual_listing_price {
    font-size: 2rem;
}

.categories_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.categories_thumbnail_div {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: white;
    border: 1px solid lightblue;
    border-radius: 5px;
}
.categories_thumbnail_div p {
    font-size: large;
    color: black;
    margin:0;
    text-decoration: none;
}
.categories_thumbnail_div:hover {
    font-weight: bold;
    text-decoration: none;
    color: white;
    background-color: lightgray;
}

.bidding_pannel {
    display: flex;
    flex-direction: column;
}

#CommentForm {
    visibility: hidden;
}

.new_listing_form {
    margin: 10px 0px;
}

.watchlist_grid {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

