{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
    
    {% for listing in listings %}
        <div class="card" style="margin: 10px 0">
            <div class="card-body">
                <a href="/listings/{{ listing.id }}">{{ listing }}</a>
                <span class="badge badge-info">${{ listing.price }}</span>
                <p>{{ listing.description }}</p>
            </div>
        </div>
    {% empty %}
        <p>No listings available</p>
    {% endfor %}

{% endblock %}