{% extends "auctions/layout.html" %}

{% block body %}

    <h1>Items on your watchlist</h1>
    {% for item in watched_items %}
    <form method="post">
        {% csrf_token %}
        <div  class="watchlist_grid">
            <div style="display:flex;">
                <span style='display:inline-block;margin-right:10px; min-width:100px; text-align: right;'>${{ item.price }}</span>
                <a href='/listings/{{item.id}}'>{{ item }}</a>
            </div>
            <button value="{{item.id}}" name="watch_remove" class="btn btn-outline-danger" style="margin-right:10px">×</button>
        </div>
    </form>
        <hr>
    {% empty %}
    <p>no items to show.</p>
    {% endfor %}

{% endblock %}