
{% extends "auctions/layout.html" %}

{% block body %}

    <h1>Items on your watchlist</h1>
    {% for item in watched_items %}
    <form method="post">
        {% csrf_token %}
        <div  class="watchlist_grid">
        <button value="{{item.id}}" name="watch_remove" class="btn btn-outline-danger" style="margin-right:10px">×</button>
        <a href='/listings/{{item.id}}'>{{ item }}</a>
        <span style='margin-left:150px';>${{ item.price }}</span>
    </div>
    </form>
        <hr>
    {% empty %}
    <p>no items to show.</p>
    {% endfor %}

{% endblock %}